.divCount{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-primary{
margin: 5px;
}

.countStyles{
    text-align: center;
}

.divAdd{
    display: flex;
    justify-content: center;
}